@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
    @apply px-2 text-blue-800 font-semibold hover:text-black;
}

.bg-primary {
    @apply bg-white
}

.bg-secondary{
    
    background: #5551E3;
}

.mobile-nav{
    @apply fixed top-12 left-0 bg-white w-full h-1/4;
}

.mobile-nav li {
    @apply w-full h-full text-center;
}

.about-bg,
.project-bg
{
    background: #2b2d77;
}

.project-desc
{
    @apply absolute left-0 right-0 bottom-0 top-0 project-bg opacity-0 duration-500 hover:opacity-100 cursor-pointer;
}

.btn
{
    @apply bg-secondary px-5 py-2 font-bold hover:border-2 rounded;
}

html{
    scroll-behavior: smooth;
}